
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 12%;
    background-color: #ccc;


    &-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 20px;
    }

    &-box {
        display: flex;
        column-gap: 20px;
    }

}
