@use "../mixin/index" as m;

.cart {
    &-inner {
        @include m.sectionInner(1100px);
    }

    &-title {
        @include m.Title();
    }

    &-category {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        padding: 40px 0 20px 0;
        border-bottom: 1px solid #000;
    }

    &-type {
        font-weight: bold;
    }

    &-container {
        display: flex;
    }

    &-list {
        flex-basis: 65%;
    }

    &-item {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        place-items: center;
        padding-top: 20px;
    }

    &-flavor {
        display: flex;
    }

    &-img {
        flex-basis: 30%;
    }

    &-goods {
        flex-basis: 70%;
    }

    &-maker {
        padding-top: 15px;
        font-size: 14px;
    }

    &-name {
        padding-top: 10px;
        font-size: 18px;
    }

    &-price {
        padding-top: 10px;
        font-size: 16px;

        span {
            font-size: 12px;
        }
    }

    &-total {
        text-align: right;
        font-size: 22px;
        span {
            display: inline-block;
            padding-left: 10px;
            font-size: 12px;
        }
    }

    &-side {
        height: 30%;
        padding: 30px;
        margin: 84px auto 0 auto;
        border: 2px solid #000;
    }

    &-money {
        
        span {
            font-size: 14px;
        }
    }

}