@use "../mixin/index" as m;

.itembox {
    &-inner {
        @include m.sectionInner(900px);
    }

    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
    }

    &-maker {
        padding-top: 10px;
        font-size: 12px;
    }

    &-name {
        padding-top: 20px;
        font-size: 16px;
    }
}

.btn {
    @include m.Btn(160px);
}