.header {
    width: 100%;
    background-color: #EEEEEE;
  }
  
  .header-area {
    width: 1280px;
    height: 80px;
    margin: auto;
    place-content: center;
    place-items: left;
    text-align: left;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
  }

  .button-area {
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
  }

  .icon-area {
    margin-left: 300px;;
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
  }